# Security
## Env vars that contain passwords, are context-dependent etc
.env
config/

# Large & context-dependent build files 
build/
browser/dist
browser/public/styles
browser/public/scripts

# Windows
## Image thumbnail cache
Thumbs.db
## Folder config file
Desktop.ini

# Mac
## Image thumbnail cache
.DS_Store

# Sublime Text
## User-specific editor settings
.sublime-text-config/
*.sublime-project
*.sublime-workspace
*.sublime-build

# Yarn
## Error log
yarn-error.log

# Node.js
## Package manager content and logs
node_modules/
npm-debug.log

# A folder specifically for ignored scrap
ignored/

# Node server files
## Ping logs
logs/