body {
	font-family: sans-serif;
}

.app {
	max-width: 60em;
	margin: 2em auto;
	border: 1px solid hsla(0,0%,0%,0.2);
	box-shadow: 0px 3px 10px 0 hsla(0,0%,0%,0.15);

	font-family: sans-serif;
}

.json-output {
	background-color: hsla(100, 70%, 80%, 1);
	font-family: sans-serif;
}

.button {
	border: 1px solid blue;
	border-radius: 5px;
}

/* Blocks */
.more-options-btn {

}
.more-options-btn button {
	display: block;
}