/* Helpers */
.hidden {
	display: none;
	visibility: hidden;
}
.invisible {
	visibility: hidden;
}

.superscript {
	font-size: 0.75rem;
	display: inline-block;
	vertical-align: super;
}

.flex {
	display: flex;
}
.flex--col {
	flex-direction: column;
}