@import "vendor/modern-normalize";

body {
	font-family: sans-serif;
}

@import "helpers";

/* 
	Blocks 
*/
.global-indicators {
	padding: 0.5em;
	position: fixed;
	top: 0;
}
.indicator { /* TEMP */
	font-size: 0.9rem;
	color: hsla(0,100%,20%,1); 
	padding: 0.2em;
	font-family: monospace;
	background-color: hsla(0,100%,70%,0.8);
}

.native-app-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2em auto;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 60em;
	
	font-size: 16px;
	font-family: sans-serif;
}

.app__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.app__title {
	font-size: 0.7rem;
}

.tray-icon {
	display: inline-block;
}
.tray-icon img {
	width: 1.6em;
	height: 1.6em;
	border-radius: 999999px;
	border: 1px solid hsla(0,0%,20%,1);
	filter: saturate(0%) contrast(200%);
}

.short-stat {
	display: inline-block;
	color: hsla(0,0%,0%,0.5);
	font-size: 0.8rem;
}
.short-stat__value {
	color: hsla(0,0%,10%,1);;
	font-size: 1.2rem;
}
.short-stat__value--good {
	color: hsla(120,80%,60%,1);
}
.short-stat__value--bad {
	color: hsla(0,80%,40%,1);
}
.short-stat__value--warn {
	background: red; /*TODO*/
}
.short-stat .superscript {
	color: hsla(0,0%,30%,1);
}

.mac-menubar-sim {
	border: 1px solid hsla(0,0%,0%,0.15);
	box-shadow: 0px 3px 10px 0 hsla(0,0%,0%,0.15);
	border-radius: 5px;
}

.json-output {
	background-color: hsla(100, 70%, 80%, 1);
	font-family: sans-serif;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid blue;
	border-radius: 5px;
	padding: 0.1em 0.4em;

	cursor: pointer;
}


/* 
	Components
*/
@import "component.more-options-btn";

/* Vendor */
/*
	TODO dev only: renderjson should only be used for dev testing
*/
.renderjson {
	font-family: monospace;
}